<!DOCTYPE html>
<html ng-app='ControllerAsApp'>
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="main.js"></script>
    <link rel="stylesheet" href="index.css">
    <title>Cars list</title>
</head>
<body>
<main class="container">
    <div ng-controller='CarsListController as list'>
        <h2>Cars list:</h2>
        <p>Екзаменаційна робота ІСТ-4, Пицюка Володимира Михайловича</p>
        <ol>
            <li ng-repeat="item in list.items" ng-class="{'hide': item.hide === true}">
                {{item.mark}} (quantity: {{item.quantity}})
                <button ng-click="list.removeItem($index);">Remove</button>
                <button ng-click="list.hideItem($index);">Hide</button>
            </li>
        </ol>
    </div>
</main>
</div>
</body>
</html>